<div class="header">
    <div class="header-logo">
        <!-- <img src="../../assets/images/iconProjet.png" alt="logo">  -->
        eVidy
    </div>
    <div class="header-nav">
        <div class="header-top-bar">
            <a href="">Help</a>
            <a href="">Exchange & Returns</a>
            <a href="">Order Trackers</a>
            <a href="">SignUp / Login</a>
        </div>
        <div class="header-bottom-bar">
            <div class="header-menu">
                <a href="">Home</a>
                <a href="">Products</a>
                <a href="">Abouts</a>
                <a href="">Contact</a>
            </div>
            <div class="header-search-bar">
                <input type="text" class="header-search-box" placeholder="Search">
                <button class="header-search-btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>