<div class="header">
    <div class="header-logo">
        <!-- <img src="../../assets/images/iconProjet.png" alt="logo">  -->
        eVidy
    </div>
    <div class="header-nav">
        <!-- top-menu -->
        <top-menu></top-menu>
        <div class="header-bottom-bar">
            <!-- main-menu -->
            <main-menu></main-menu>
            <!-- <div class="header-search-bar">
                <input type="text" class="header-search-box" placeholder="Search">
                <button class="header-search-btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div> -->
        </div>
    </div>
</div>