<div class="header">
    <div class="header-logo">
        <img src="../../assets/images/iconProjet.png" alt="logo"> 
        logo
    </div>
    <div class="header-bar">
        <div class="top-bar">
            <a href="">Help</a>
            <a href="">Exchange & Returns</a>
            <a href="">Order Trackers</a>
            <a href="">SignUp / Login</a>
        </div>
        <div class="bottom-bar">
            <div class="menu">
                <a href="">Home</a>
                <a href="">Products</a>
                <a href="">Abouts</a>
                <a href="">Contact</a>
            </div>
            <div class="search-bar">
                <input type="text" class="search-box" placeholder="Search">
                <button class="search-btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>